# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.db
*.sqlite3
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# Build / distribution
build/
dist/
*.egg-info/
